<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <p>

        <ul>
                <div>
                <form method="post" action="">
                        {% csrf_token %}
                        <input type="text" placeholder="Latitude (float)" name="latitude"><br>
                        <input type="text" placeholder="Longitude (float)" name="lngitude"><br>
                        <input type="text" placeholder="Unique Squirrel ID (string)" name="unique_squirrel_id"><br>
                        <input type="text" placeholder="Shift (AM/PM)" name="shift"><br>
                        <input type="text" placeholder="Date (YYYY-MM-DD)" name="date"><br>
                        <input type="text" placeholder="Age (integer)" name="age"><br>
                        <input type="text" placeholder="Primary Fur Color (string)" name="primary_fur_color"><br>
                        <input type="text" placeholder="Location (string)" name="location"><br>
                        <input type="text" placeholder="Specific Location (string)" name="specific_location"><br>
                        <input type="text" placeholder="Running (True/False)" name="running"><br>
                        <input type="text" placeholder="Chasing (True/False)" name="chasing"><br>
                        <input type="text" placeholder="Climbing (True/False)" name="climbing"><br>
                        <input type="text" placeholder="Eating (True/False)" name="eating"><br>
                        <input type="text" placeholder="Foraging (True/False)" name="foraging"><br>
                        <input type="text" placeholder="Other Activities (string)" name="other_activities"><br>
                        <input type="text" placeholder="Kuks (True/False)" name="kuks"><br>
                        <input type="text" placeholder="Quaas (True/False)" name="quaas"><br>
                        <input type="text" placeholder="Moans (True/False)" name="moans"><br>
                        <input type="text" placeholder="Tail Flags (True/False)" name="tail_flags"><br>
                        <input type="text" placeholder="Tail Twitches (True/False)" name="tail_twitches"><br>
                        <input type="text" placeholder="Approaches (True/False)" name="approaches"><br>
                        <input type="text" placeholder="Indifferent (True/False)" name="indifferent"><br>
                        <input type="text" placeholder="Runs From (True/False)" name="runs_from"><br>
                        <button type="submit"> Add</button>
                </form>
                </div>
        </ul>

</body>
</html>
