<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <p>

        <ul>
                <div>
                <form method="post" action="">
                        {% csrf_token %}
			<li>
			Latitude
                        <input type="text" placeholder="Latitude (float)" name="latitude"><br>
			</li>
			<li>
			Longitude
                        <input type="text" placeholder="Longitude (float)" name="longitude"><br>
			</li>
			<li>
			Unique Squirrel ID
                        <input type="text" placeholder="Unique Squirrel ID (string)" name="unique_squirrel_id">
			</li>
			<li>
			Shift
			<select name="shift">
				<option value="AM">AM</option>
				<option value="PM">PM</option>
			</select>
			</li>
			<li>
			Date
                        <input type="text" placeholder="YYYY-MM-DD" name="date">
			</li>
			<li>
			Age
                        <input type="text" placeholder="string" name="age">
			</li>
			<li>
			Primary Fur Color
                        <input type="text" placeholder="string" name="primary_fur_color">
			</li>
			<li>
			Location
                        <input type="text" placeholder="string" name="location">
			</li>
			<li>
			Specific Location
                        <input type="text" placeholder="string" name="specific_location">
			</li>
			<li>
			Runing
			<select name="running">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        
			</select>
			</li>
			<li>
			Chasing
                        <select name="chasing">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Climbing
                        <select name="climbing">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Eating
                        <select name="eating">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Foraging
			<select name="foraging">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Other Activities
                        <input type="text" placeholder="String" name="other_activities"><br>
			</li>
			<li>
			Kuks
			<select name="kuks">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Quaas
                        <select name="quaas">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Moans
                        <select name="moans">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Tail Flags
                        <select name="tail_flags">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Tail Twitches
                        <select name="tail_twitches">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Approaches
                        <select name="approaches">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Indifferent
                        <select name="indifferent">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
			<li>
			Runs From
                        <select name="runs_from">
                                <option value="True">True</option>
                                <option value="False">False</option>
                        </select>
			</li>
                        <button type="submit"> Add</button>
                </form>
		{{form.errors}}
                </div>
        </ul>

</body>
</html>
