<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <p>

        <ul>
                <div>
                <form method="post" action="">
                        {% csrf_token %}
                        <input type="text" placeholder="Latitude" name="latitude"><br>
                        <input type="text" placeholder="Longitude" name="lngitude"><br>
                        <input type="text" placeholder="Unique Squirrel ID" name="unique_squirrel_id"><br>
                        <input type="text" placeholder="Shift" name="shift"><br>
                        <input type="text" placeholder="Date (YYYY-MM-DD)" name="date"><br>
                        <input type="text" placeholder="Age" name="age"><br>
                        <input type="text" placeholder="Primary Fur Color" name="primary_fur_color"><br>
                        <input type="text" placeholder="Location" name="location"><br>
                        <input type="text" placeholder="Specific Location" name="specific_location"><br>
                        <input type="text" placeholder="Running" name="running"><br>
                        <input type="text" placeholder="Chasing" name="chasing"><br>
                        <input type="text" placeholder="Climbing" name="climbing"><br>
                        <input type="text" placeholder="Eating" name="eating"><br>
                        <input type="text" placeholder="Foraging" name="foraging"><br>
                        <input type="text" placeholder="Other Activities" name="other_activities"><br>
                        <input type="text" placeholder="Kuks" name="kuks"><br>
                        <input type="text" placeholder="Quaas" name="quaas"><br>
                        <input type="text" placeholder="Moans" name="moans"><br>
                        <input type="text" placeholder="Tail Flags" name="tail_flags"><br>
                        <input type="text" placeholder="Tail Twitches" name="tail_twitches"><br>
                        <input type="text" placeholder="Approaches" name="approaches"><br>
                        <input type="text" placeholder="Indifferent" name="indifferent"><br>
                        <input type="text" placeholder="Runs From" name="runs_from"><br>
                        <button type="submit"> Add</button>
                </form>
                </div>
        </ul>

</body>
</html>
